GDAL==3.2.1
rasterio==1.2.0 --no-binary rasterio
shapely==1.7.1
pyproj==3.0.0.post1
numexpr
lxml
psycopg2-binary
rio_toa
rio_tiler
pillow
rio-color
pytz
git+https://github.com/Satelytics/srtm4.git
git+https://github.com/Satelytics/rpcm.git
