
#GDAL #==3.2.1
#rasterio #==1.2.0 --no-binary rasterio
#shapely #==1.7.1
#urllib3 #==1.26.16
pyproj
numexpr
lxml
psycopg2-binary
#rio_toa
#rio_tiler
pillow
#rio-color
pytz
boto3 #~=1.20.50
botocore #~=1.29.109
requests #~=2.28.2
git+https://github.com/Satelytics/srtm4.git
git+https://github.com/Satelytics/rpcm.git
